{% extends 'catalog.html' %}
{%load catalog_tags %}
{% load catalog_filters %}

{% block content %}
 <div class="col-lg-12 col-sm-12">
                <span class="title">
                    Carrinho de compras
                </span>
            </div>
            <div class="col-lg-12 col-sm-12 hero-feature">
                <table class="table table-bordered tbl-cart table-hover">
                    <thead>
                        <tr class="text-center">
                            <td class="tbl-cart-image hidden-xs">Imagem</td>
                            <td>Produto</td>
                            
                            
                            <td class="td-qty">Quantidade</td>
                            <td>Preço unitário</td>
                            <td class="price-total">Preço total</td>
                            <td class="tbl-cart-remove">Remover</td>
                        </tr>
                    </thead>
                        <tbody>
                        {% for item in cart_items %}
                            <tr>
                                <td class="hidden-xs">
                                    <a href="detail.html">
                                        <img src="/static/images/products/main/{{item.product.image}}" alt="Age Of Wisdom Tan Graphic Tee" title="" class="tbl-cart-image" width="47" height="47">
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ item.get_absolute_url }}" class="cart">
                                        {{ item.name }}
                                    </a>
                                </td>
                                <td class="text-center cart-remove-box">
                                            <form method="post" action="." class="cart">
                                    <div class="input-group bootstrap-touchspin">
                                  <!--  <span class="input-group-btn">
                                      <button class="btn btn-default bootstrap-touchspin-down" type="button">-</button>
                                  </span> -->
                                        <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                            <input type="hidden" name="item_id" value="{{ item.id }}" />
                                            <input type="text" name="quantity" value="{{ item.quantity }}" class="input-qty form-control text-center" style="display: block;">
                                        <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                         <span class="input-group-btn">
                                           <input class="btn btn-default bootstrap-touchspin-up" name="submit" value="Atualizar" type="submit"/>{% csrf_token %}
                                       </span> 
                                            </form>
                                    </div>
                                </td>
                                <td class="price-single">
                                    {{ item.price |currency}}
                                </td>
                                <td>
                                    {{ item.total|currency }}
                                </td>
                                <td class="text-center cart-remove-box">
                                    <form method="post" action="." class="cart">
                                        <input type="hidden" name="item_id" value="{{ item.id }}" />
                                            <input class="btn btn-default bootstrap-touchspin-up" type="submit" name="submit" value="Remover"/>{% csrf_token %}
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="3" align="left">Total de compras</td>
                                <td class="price-total text-center" colspan="3"><strong> {{ cart_subtotal |currency }}
                                </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                        <div class="btn-group btns-cart pull-left">
                                <button type="button" class="btn btn-primary" onclick="window.location='catalogue.html'"><i class="glyphicon glyphicon-circle-arrow-left"></i>Continuar comprando</button>
                                <button type="button" class="btn btn-primary" onclick="window.location='checkout'"> Checkout <i class="glyphicon glyphicon-circle-arrow-right"></i></button>
                        </div>
                </div>


        </div> <!--End cart table-->
{% endblock %}




















<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery-1.11.2.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.bxslider.min.js"></script>
<script src="assets/js/bootstrap.touchspin.js"></script>
<script src="assets/js/jquery.zoom.min.js"></script>
<script src="assets/js/mimity.js"></script>

</body>
</html>