{%load catalog_tags %}
{% load catalog_filters %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <!-- Bootstrap core CSS -->
    <link href="/static/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet">

    <link href="/static/assets/css/jquery.bxslider.css" rel="stylesheet">
        
    <!-- Custom styles for this template -->
    <link href="/static/assets/css/custom.css" rel="stylesheet">
    
    <title> Zogbi Tecidos </title>
</head>
<body>


<header>
    <div class="container margin-top-20 margin-bottom-10">
        <div class="row">
            <!-- Logo -->
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                <div class="header-logotype">
                    <a href="index.html">
                        Zogbi Tecidos
                    </a>
                    <div class="Slogan">
                        A sua loja de Patchwork
                    </div>
                </div>
            </div>
            
            <!-- search box -->
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-7">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Procure um produto">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            
            <!-- Cart -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-5">
                <div class="btn-group btn-group-cart">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                  <span class="pull-left">
                            <i class="glyphicon glyphicon-shopping-cart"></i>
                        </span> 
                                <span class="pull-left">Carrinho:{% cart_box request %} </span>
                              
                         <span class="glyphicon glyphicon-triangle-bottom pull-right"></span>                          </button>

                    <ul class="dropdown-menu cart-content" role="menu">
                        <li>
                            <a href="#">
                                <b>کیف لپ تاپ مارک دار !</b>
                                <span>x1 $528.96</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <b>کیف لپ تاپ مارک دار !</b>
                                <span>x1 $528.96</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                جمع:
                                5870.000
                                تومان
                            </a>
                        </li>
                    </ul>
                </div><!-- btn-group Cart Box -->
            </div>
        </div> <!-- Row -->
    </div> <!-- container -->
</header>

<!-- Navigation -->

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- Text Logo on Mobile -->
        <a href="#" class="navbar-brand visible-xs">
            Zogbi Tecidos
        </a>
        </div>
        <div class="navbar-collapse navbar-ex1-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">Catálogo</a>
                </li>
                <li>
                    <a href="/cart">Carrinho</a>
                </li>
                <li>
                    <a href="/contato">Contato</a>
                </li>
                <!-- <li class="nav-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        سایر صفحات 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">درباره ما</a></li>
                        <li><a href="#">تماس با ما</a></li>
                        <li><a href="#">تایپو گرافی</a></li>
                        <li><a href="detail.html">مشاهده یک محصول</a></li>
                        <li><a href="register.html">ورود</a></li>
                        <li><a href="register.html">عضویت</a></li>
                    </ul>
                </li> -->
                
            </ul>
        </div>
        
    </div> <!-- container -->
</nav> <!-- End Navigation -->
<div class="container main-container">
    <!-- Body -->
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- Best Product-->
            <div class="col-lg-12 col-md-12 col-sm-12 visible-lg visible-md">
                <div class="no-padding">
                    <span class="title">
                        Mais vendidos
                    </span>
                </div>
                <div class="thumbnail col-lg-12 col-md-12 col-sm-6 text-center">
                    <a href="detail.html" style="overflow: hidden; position: relative;">
                        <img src="/static/images/products/main/image1.jpg" style="width: 250px; height: auto;">
                    </a>
                    <div class="caption prod-caption">
                        <h4>
                            <a href="detail.html">
                                Tecido qualquer
                            </a>
                        </h4>
                        <p>
                            asifhjofjofo
                        </p>
                        <p></p>
                        
                        <div class="btn-group">
                            <a href="#" class="btn btn-default">R$ 528.96</a>
                            <a href="#" class="btn btn-primary">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                Comprar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Best Product-->
            
        </div>
    <div class="clearfix visible-sm"></div>
        <!-- End Sidebar -->
        
        <!--cart table-->
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="col-lg-12 col-sm-12">
                <span class="title">
                    Carrinho de compras
                </span>
            </div>
            <div class="col-lg-12 col-sm-12 hero-feature">
                <table class="table table-bordered tbl-cart table-hover">
                    <thead>
                        <tr class="text-center">
                            <td class="tbl-cart-image hidden-xs">Imagem</td>
                            <td>Produto</td>
                            
                            
                            <td class="td-qty">Quantidade</td>
                            <td>Preço unitário</td>
                            <td class="price-total">Preço total</td>
                            <td class="tbl-cart-remove">Remover</td>
                        </tr>
                    </thead>
                        <tbody>
                        {% for item in cart_items %}
                            <tr>
                                <td class="hidden-xs">
                                    <a href="detail.html">
                                        <img src="/static/images/products/main/{{item.product.image}}" alt="Age Of Wisdom Tan Graphic Tee" title="" class="tbl-cart-image" width="47" height="47">
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ item.get_absolute_url }}" class="cart">
                                        {{ item.name }}
                                    </a>
                                </td>
                                <td class="text-center cart-remove-box"
                                            <form method="post" action="." class="cart">
                                    <div class="input-group bootstrap-touchspin">
                                  <!--  <span class="input-group-btn">
                                      <button class="btn btn-default bootstrap-touchspin-down" type="button">-</button>
                                  </span> -->
                                        <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                            <input type="hidden" name="item_id" value="{{ item.id }}" />
                                            <input type="text" name="quantity" value="{{ item.quantity }}" class="input-qty form-control text-center" style="display: block;">
                                        <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                         <span class="input-group-btn">
                                           <input class="btn btn-default bootstrap-touchspin-up" name="submit" value="Atualizar" type="submit"/>{% csrf_token %}
                                       </span> 
                                            </form>
                                    </div>
                                </td>
                                <td class="price-single">
                                    {{ item.price |currency}}
                                </td>
                                <td>
                                    {{ item.total|currency }}
                                </td>
                                <td class="text-center cart-remove-box">
                                    <form method="post" action="." class="cart">
                                        <input type="hidden" name="item_id" value="{{ item.id }}" />
                                            <input class="btn btn-default bootstrap-touchspin-up" type="submit" name="submit" value="Remover"/>{% csrf_token %}
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="3" align="left">Total de compras</td>
                                <td class="price-total text-center" colspan="3"><strong> {{ cart_subtotal |currency }}
                                </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                        <div class="btn-group btns-cart pull-left">
                                <button type="button" class="btn btn-primary" onclick="window.location='catalogue.html'"><i class="glyphicon glyphicon-circle-arrow-left"></i>Continuar comprando</button>
                                <button type="button" class="btn btn-primary" onclick="window.location='checkout'"> Checkout <i class="glyphicon glyphicon-circle-arrow-right"></i></button>
                        </div>
	            </div>


        </div> <!--End cart table-->
        
    
    </div>

    

    <!-- End Body -->
</div> <!-- Container -->
<footer>
    <div class="container margin-bottom-10">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="column">
                <h4>
                    Informação
                </h4>
                <ul>
                    <li><a href="/about">Sobre</a></li>
                    <li><a href="/policy-privacy">Política de privacidade</a></li>
                    <li><a href="/terms">Termos e condições</a></li>
                    <li><a href="/shipping-methods">Métodos de envio</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="column">
                <h4>
                    Atendimento
                </h4>
                <ul>
                    <li><a href="#">Telefone: (11)4707-0707</a></li>
                    <li><a href="#">Celular: (11)11940-0894</a></li>
                    <li><a href="#">Email: sdfs@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="column">
                <h4>
                    Redes sociais
                </h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Whatsapp</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar-inverse text-center copyright">
        Obrigado por comprar conosco.
    </div>
</footer>
<a href="#top" class="back-top text-center" onclick="$('body,html').animate({scrollTop:0},500); return false" style="display: block;">
    	<i class="glyphicon glyphicon-chevron-up"></i>
</a>





























<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery-1.11.2.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.bxslider.min.js"></script>
<script src="assets/js/bootstrap.touchspin.js"></script>
<script src="assets/js/jquery.zoom.min.js"></script>
<script src="assets/js/mimity.js"></script>

</body>
</html>