.alab {font-family:Arial;font-size:12px;font-weight:bold;color:#333399} 
.alab2 {font-family:Arial;font-size:12px;font-weight:bold;color:#990000} 
.atxt {font-family:Arial;font-size:12px;color:#333399} 
.gr2n10 {font-family: Arial; font-size: 10px; color: #336600} 
.bl3n11 {font-family: Arial; font-size: 11px; color: #0000FF} 
.bl3n11:hover {color:#FF0000} 
.blub11 {font-family: Arial; font-size: 11px; font-weight: bold; color: #333399} 
.bl2n11 {font-family: Arial; font-size: 11px; color: #333399} 
.bl2n11:hover {color:#FF0000} 
.bl3n12 {font-family: Arial; font-size: 12px; color: #0000FF} 
.bl3n12:hover {color:#FF0000} 
.bl2n12 {font-family: Arial; font-size:12px; color:#333399} 
.bl2n12:hover {color:#FF0000}
.blun12 {font-family: Arial; font-size: 12px; color: #333399}
.blub12 {font-family: Arial; font-size: 12px; font-weight: bold; color: #333399}
.blub12:hover {color: #FF0000}
.borb12 {font-family: Arial; font-size:12px; font-weight: bold; color:#990000}
.whtb13 {font-family: Arial; font-size: 13px; font-weight: bold; color: #ffffff; margin: 0px}
.blub13 {font-family: Arial; font-size: 13px; font-weight: bold; color: #333399}
.blub13:hover {color: #ff0000}
.blub15 {font-family: Arial; font-size: 15px; font-weight: bold; color: #333399}
.blub18 {font-family: Arial; font-size: 18px; font-weight: bold; color: #FF0000}
.path1 {font-family: Arial; font-size: 11px; font-weight:bold; color:#333399}
.path1:hover {color:#FF0000}
.path2 {font-family: Arial; font-size: 11px; font-weight:bold; color:#ff0000}
.path2:hover {color:#FF0600}
.botprod {font-family: Arial; font-size: 13px; font-weight: bold; color: #FFFFFF; background-color: #333399}
.botprod2 {font-family: Arial; font-size: 12px; font-weight: bold; color: #FFFFFF; background-color: #333399}
.atip {font-family: Arial; font-size: 10px; color: #336600}
.box {font-family: Arial; font-size: 11px; color: #333399}
.whi3n11 {font-family: Arial; font-size: 11px; color: #FFFFFF}
.gris {font-family: Arial; font-size: 11px; color: #666666;}
.titbig {font-family: Arial; font-size: 12px; color: #0000FF;}
.titbig2 {font-family: Arial; font-size: 15px;  color: #333399;}
.green {color:#418200;}
.red {font-family: Arial; font-size: 11px; color:#ca2026;}
.botconf {font-family: Arial; font-size: 13px; font-weight: bold; color: #FFFFFF; background-color: #333399; width: 135px}
.bigblue {font-family: Arial; font-size: 12px;  color: #333399;}
.smallblue {font-family: Arial; font-size: 11px;  color: #333399;}
.botoncont{font-family: Arial; font-size: 12px; color: #FFFFFF; font-weight:bold; background-color: #333399; width:80px;}
.blub18b {font-family: Arial; font-size: 18px; color: #333399}
<!--Gen:0-->
